#container{
    background-image: url("../images/download.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color:white;

}
.forward{
    color:white
}
#jobName{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 50px;
    border-bottom:  2px solid black;
    padding-top: 30px;
    color:green
}
p{
    width: 250px;
    height: 500px;
    margin: auto;
    justify-content: center; 
    
}
a{
    color:red;
}
